data-grid .dg-actions {
  text-overflow: initial;
  width: 100px;
  text-align: right;
  white-space: nowrap !important;
}

data-grid .dg-actions button,
data-grid .dg-actions a {
  margin: 0;
}

data-grid .dg-actions a {
  display: inline-flex;
  align-items: center;
  height: 2rem;
  padding: 0 0.5rem;
  background-color: var(--dg-control-bg);
  border: solid 1px var(--dg-control-border-color);
  border-radius: var(--dg-radius);
  color: var(--dg-control-color);
  text-decoration: none;
}

data-grid .dg-actions a:hover {
  opacity: 0.7;
}

data-grid .dg-actions button + button,
data-grid .dg-actions button + a,
data-grid .dg-actions a + button,
data-grid .dg-actions a + a {
  margin-left: 0.25rem;
}

data-grid .dg-actions .dg-actions-toggle {
  display: none;
  width: calc(100px - var(--dg-padding-x) * 2);
}

data-grid .dg-actions.dg-actions-1 {
  width: 100%;
}

data-grid .dg-actions.dg-actions-2 button,
data-grid .dg-actions.dg-actions-2 a {
  width: calc(50% - 0.25rem);
}

data-grid .dg-actions.dg-actions-more button,
data-grid .dg-actions.dg-actions-more a {
  display: none;
}

data-grid .dg-actions.dg-actions-more button.dg-actions-toggle {
  display: inline-block;
}

data-grid .dg-actions.dg-actions-expand {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}

data-grid .dg-actions.dg-actions-expand.dg-actions-more {
  width: 100%;
}

data-grid .dg-actions.dg-actions-expand.dg-actions-more button,
data-grid .dg-actions.dg-actions-expand.dg-actions-more a {
  display: inline-block;
}

data-grid button[data-intent="danger"],
data-grid a[data-intent="danger"] {
  background-color: var(--dg-danger-bg);
  border-color: var(--dg-danger-border-color);
  color: var(--dg-danger-color);
}

data-grid button[data-intent="primary"],
data-grid a[data-intent="primary"] {
  background-color: var(--dg-accent);
  border-color: var(--dg-accent);
  color: var(--dg-bg);
}

data-grid tr.dg-actionable {
  cursor: pointer;
}

data-grid tr.dg-actionable:hover td {
  background-color: var(--dg-row-hover-bg);
}
