data-grid .dg-responsive-child-row > td {
  padding: 0;
}

data-grid .dg-responsive-table {
  table-layout: auto;
  border: 0;
  width: 100%;
}

data-grid .dg-responsive-table td,
data-grid .dg-responsive-table th {
  white-space: normal;
}

data-grid .dg-responsive-table th {
  max-width: 40%;
  text-align: start;
  color: var(--dg-muted-color);
  font-weight: 600;
}

