data-grid .dg-resizer {
  position: absolute;
  top: 0;
  right: -4px;
  width: 8px;
  height: 100%;
  z-index: 2;
  cursor: col-resize;
  touch-action: none;
  user-select: none;
}

data-grid .dg-resizer:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 16px;
  background: var(--dg-border-color);
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: background-color 120ms ease, height 120ms ease, opacity 120ms ease, width 120ms ease;
}

data-grid th:hover > .dg-resizer:before,
data-grid .dg-resizer:hover:before {
  opacity: 0.7;
}

data-grid .dg-resizer.dg-resizer-active {
  border-right: 0;
}

data-grid .dg-resizer.dg-resizer-active:before {
  background: var(--dg-accent);
  height: calc(100% - var(--dg-space-2));
  opacity: 1;
  width: 2px;
}
