data-grid .dg-responsive-toggle {
  padding: 0;
  text-align: center;
}

data-grid .dg-responsive-child-row > td {
  padding: 0;
}

data-grid .dg-responsive-table {
  table-layout: auto;
  border: 0;
}

data-grid .dg-responsive-table td,
data-grid .dg-responsive-table th {
  white-space: normal;
}

data-grid .dg-responsive-table th {
  max-width: 40%;
}

