data-grid[dir="rtl"] th,
data-grid[dir="rtl"] td {
  text-align: right;
}

data-grid[dir="rtl"] tfoot .dg-meta {
  margin-left: auto;
  margin-right: 0;
  text-align: right;
}

data-grid[dir="rtl"] .dg-resizer {
  left: -4px;
  right: auto;
}
