data-grid[dir="rtl"] th,
data-grid[dir="rtl"] td {
  text-align: right;
}

data-grid[dir="rtl"] [aria-sort] {
  padding-left: 1rem;
  padding-right: 0.5rem;
}

data-grid[dir="rtl"] [aria-sort="none"]:after,
data-grid[dir="rtl"] [aria-sort="none"]:before,
data-grid[dir="rtl"] [aria-sort="ascending"]:before,
data-grid[dir="rtl"] [aria-sort="descending"]:after {
  left: 0.75rem;
  right: auto;
}

data-grid[dir="rtl"] tfoot .dg-meta {
  text-align: left;
}
